/* Minimal CSS Reset
   ================= */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global Site Settings
   ==================== */
*, html, body {
  font-size: 16px;
  font-family: serif;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 36px 0 24px 0;
}

h2 {
  font-weight: 700;
  font-size: 1.9230769231rem;
  margin: 36px 0 18.4615384615px 0;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
}


/* Site Heading
   ============ */
.site-header {
  width: 100%;
  height: 400px;
  position: relative;
  color: white;
  overflow: hidden;
}

.site-header .absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.site-header .absolute .bgEl {
  width: 100%;
  height: 100%;
  /* background-position: center center;
  background-size: cover; */
  position: fixed;
  top: -332px;
  left: 0;
}

.site-header::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.site-header .container {
  width: 100%;
  /* max-width: 700px;
  height: 100%; */
  margin: auto;
  /* padding-bottom: 60px; */
  /* display: flex;
  flex-flow: column wrap;
  justify-content: flex-end; */
  text-align: center;
  position: fixed;
  top: 200px;
  z-index: 2;
}

.site-header h1, .site-header p {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

/* Main Section
   ============ */
main {
  position: relative;
  overflow: hidden;
  background: white;
  z-index: 2;
}

article {
  width: 100%;
  max-width: 700px;
  margin: 60px auto;
  padding: 1rem;
}

/* Shapes
  ============= */
.object {
  position: absolute;
  top: 3rem;
  left: 2rem;
  z-index: 1;
  opacity: 0.5;
  padding: 0 2rem;
}

.object-clone {
  position: absolute;
  top: 4rem;
  left: 5rem;
  z-index: 1;
  opacity: 1;
  padding: 0 2rem;
}

.object2 {
  position: absolute;
  top: 2rem;
  left: 45%;
  z-index: 1;
  opacity: 0.25;
  padding: 0 2rem;
}

.object3 {
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 1;
  opacity: 0.75;
  padding: 0 2rem;
}

.object4 {
  position: absolute;
  top: -4rem;
  left: 35%;
  z-index: 2;
  opacity: 1;
  padding: 0 2rem;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #ffcccc;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #ffcccc;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #ffcccc;
}

.object-clone .hexagon {
  width: 110px;
  height: 70px;
  background: #ffcccc;
  position: relative;
}
.object-clone .hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 25px solid #ffcccc;
}
.object-clone .hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-top: 25px solid #ffcccc;
}

.object2 .hexagon {
  width: 200px;
  height: 100px;
  background: #ffcccc;
  position: relative;
}
.object2 .hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 25px solid #ffcccc;
}
.object2 .hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid #ffcccc;
}

.object3 .hexagon {
  width: 50px;
  height: 25px;
  background: #ffcccc;
  position: relative;
}
.object3 .hexagon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 12px solid #ffcccc;
}
.object3 .hexagon:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 12px solid #ffcccc;
}

.object4 svg {
  width: 150px;
}

/* Site Footer
   =========== */
.site-footer {
  border-top: 1px solid #aaa;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #999;
  background: white;
}