/* Minimal CSS Reset
   ================= */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global Site Settings
   ==================== */
*, html, body {
  font-size: 16px;
  font-family: serif;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 36px 0 24px 0;
}

h2 {
  font-weight: 700;
  font-size: 1.9230769231rem;
  margin: 36px 0 18.4615384615px 0;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
}


/* Site Heading
   ============ */
.site-header {
  width: 100%;
  height: 400px;
  background-image: url(images/books-example.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  color: white;
}

.site-header::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.site-header .container {
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: auto;
  padding-bottom: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  z-index: 2;
}

.site-header h1, .site-header p {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

/* Main Section
   ============ */
article {
  width: 100%;
  max-width: 700px;
  margin: 60px auto;
  padding: 1rem;
}

/* Site Footer
   =========== */
.site-footer {
  border-top: 1px solid #aaa;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #999;
}